.content {
    display: grid;
    background-color: rgb(248, 246, 246);
    height: 50rem;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    grid-template-columns:repeat(6, minmax(6rem, 17rem));
}


@media screen and (max-width: 900px) {
    .content {
        height: 100%;
    }
    .message {
        margin-top: 5rem;
    }
    .message-list {
        overflow-y: scroll;
    }
    .fri {
        padding: 1.5rem;
        font-size: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .content {
        display: block;
    }
    .message {
        margin-top: 0;
    }
    .message-list {
        overflow-y: scroll;
    }
    .home-page {
        display: block;
        justify-items: center;
        text-align: center;
    }
}