.header {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(6, minmax(6rem, 17rem)) minmax(6rem, 1fr);
    background-image:linear-gradient(to right top, rgb(42, 68, 42) 30%, rgb(13, 243, 13) 60%, rgb(27, 29, 27));
    position: relative;
    z-index: 100;
    padding-bottom: 2rem;
}
.left {
    color: rgb(252, 249, 249);
    align-self: center;
    grid-column: 2 / 4;
}
.head {
    font-weight: 500;
    font-size: 3rem;
    font-style: italic;
}
.head span {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    color: green;
    text-shadow: 3px 3px .5rem rgb(247, 244, 244);

}
p {
    font-size: 1.2rem;
}
nav {
    justify-self: flex-end;
    align-self: flex-end;
    grid-column: 5 / 8;
}
ul {
    list-style: none;
    color: #fff;
    display: flex;
    perspective: 10rem;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}


@media screen and (max-width: 900px) {
    .header {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .left {
        text-align: center;
        margin-bottom: 2rem;
    }
    nav {
        align-self: center;
    }
}
@media screen and (max-width: 600px) {
    .header {
        display: flex;
        height: 12vh;
        padding-top: 2rem;
        flex-direction: column;
        justify-content: center;
    }
}